<html>
<head>
	<script src= "http://code.jquery.com/jquery-2.1.1.js"> </script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
	<style type = "text/css">
	.centerdv
	{
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	</style>
	   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href={% url 'root' %}>Survey Site</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href={% url 'admin-survey-create-view' %}>Add Survey</a></li>
            <li><a href="#">View Survey Data</a></li>
          </ul>
      </div>
    </div>

    <div class = "centerdv container">
    	    <div class = "page-header">
    			<h2>Survey Results</h2>
    		</div>
    		<div class="panel panel-default">
  <!-- Default panel contents -->

  <!-- Table -->
  <table class="table">
  	<thead>
  		<tr>
  			<th>Survey ID#</th>
  			<th>Survey Title</th>
  			<th>Answers</th>
        <th>Delete Survey</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for survey in surveys %}
  		<tr>
  			<td>{{survey.id}}</td>
  			<td>{{survey.title}}</td>
  			<td><a class = "btn btn-primary" href={% url 'answer-detail' survey.id %}>View Answers<a></td>
        <td>
          <form method = 'post' action = {% url 'admin-survey-delete' %}> 
            {% csrf_token %} 
            <input type = 'hidden' name = "sv_delete" value = {{survey.id}}> 
            <input type ="submit" class = "btn btn-danger" value= "Delete">
          </form>
        </td>
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>
</div>
    </div>
   </body>
   </html>